@page "/"
@using Dicom.Imaging

<button onclick="@Show">Bitmap</button>

@functions{

    void Show()
    {
        ImageManager.SetImplementation(WinFormsImageManager.Instance);
        var image = new DicomImage(@"test1.dcm");
        image.RenderImage().AsClonedBitmap().Save(@"test1.bmp");
    }

}